@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        0deg,
        #e5989b,
        #ffcdb2
    );
    animation-name: bg;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes bg {
    0% {background-image: linear-gradient(
        0deg,
        #e5989b,
        #ffcdb2
    );}
    12.5% {background-image: linear-gradient(
        45deg,
        #e5989b,
        #ffcdb2
    );}
    25% {background-image: linear-gradient(
        90deg,
        #e5989b,
        #ffcdb2
    );}
    37.5% {background-image: linear-gradient(
        135deg,
        #e5989b,
        #ffcdb2
    );}
    50% {background-image: linear-gradient(
        180deg,
        #e5989b,
        #ffcdb2
    );}
    62.5% {background-image: linear-gradient(
        225deg,
        #e5989b,
        #ffcdb2
    );}
    75% {background-image: linear-gradient(
        270deg,
        #e5989b,
        #ffcdb2
    );}
    87.5% {background-image: linear-gradient(
        315deg,
        #e5989b,
        #ffcdb2
    );}
    100% {background-image: linear-gradient(
        360deg,
        #e5989b,
        #ffcdb2
    );}
}
div {
    transition-duration: 0.8s;
}
.container {
    display: flex;
    width: 100%;
    align-items: right;
    justify-content: center;
}
.side-left{
    display: inline;
    width: 100%;
    align-items: right;
}
h2 {
    text-align: center;
    margin: 2vh 4vw 2vh 10vw ;
    font-family: 'Kanit', sans-serif;
    font-size: 2.2rem;
    animation: glow 1.5s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
        color: #ffffff;
        text-shadow: 0 0 10px #a39193, 0 0 20px #a39193;
    }
    to {
        color: #9b5069;
        text-shadow: 0 0 20px #a39193, 0 0 30px #a39193;
    }
}
.details {
    text-align: justify;
    margin: 2vh 4vw 2vh 10vw ;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.3);
}
#instagram, #medium {
    font-size: 1.2rem;
    color: rgb(122, 69, 90);
    font-weight: 600;
}
@media screen and (max-width:900px) {
    .side-left {
        display: none;
    }
}
.side-right{
    display: inline;
    margin: 0 auto;
    width: 100%;
}
#main-box {
    background-color: white;
    margin: auto;
    width: 420px;
    max-width: 80%;
    border-radius: 1rem;
    box-shadow: 0 0 20px 1px #6d6875;
}
h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 2.2rem;
    /*text-shadow: 0 0 5px rgb(113, 113, 253);*/
    margin: 0 10% 20px 10%;
    padding-top: 25px;
    text-align: center;
    letter-spacing: 2px;
}
.login-form {
    padding: 0.5rem 1.6rem;
}
.input-group {
    display: block;
    background-color: #f3ecec;
    padding: 7px 18px;
    border-radius: 16px;
    border: 0;
    width: calc(100% - 36px);
    font-size: 1rem;
    transition-duration: 0.4s;
}
.input-group:focus {
    background-color: #e0d4d4;
    box-shadow: 0 0 8px ;
}
label {
    display: block;
    padding-left: 5px;
    margin: 0 auto 14px auto;
    font-size: 1rem;
    font-weight: 600;
}
button {
    width: 100%;
    height: 36px;
    margin: 2px auto 16px auto;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 16px;
    cursor: pointer;
    transition-duration: 0.5s;
    padding: 2px auto;
    letter-spacing: 1px;
}
#login-button {
    background-color: #e5989b;
    color: white;
    border: none;
}
#login-button:hover {
    background-color: white;
    color: #e5989b;
    box-shadow: 0 0 3px 2px #e5989b;
}
#login-button:active {
    background-color: black;
    color: white;
    box-shadow: 0 0 0 black;
}
#signup-button {
    background-color: #a39193;
    color: rgb(255, 255, 255);
    border: none;
}
#signup-button:hover {
    background-color: rgb(255, 255, 255);
    color: #a39193;
    box-shadow: 0 0 3px 2px #a39193;
}
#signup-button:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
}
span {
    display: block;
    font-weight: 600;
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
}
#google-button {
    background-color: #ffffff;
    color: #584b4c;
    margin: 16px auto 26px auto;
    border: 2px solid #a39193;
    animation: wiggle 2s linear infinite;
    animation-delay: 1s;
}
#google-button:hover {
    background-color: #a39193;
    color: white;
    box-shadow: 0 0 px 2px #a39193;
}
#google-button:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
}
#google-pic {
    width: 1rem;
    height: 1rem;
    padding-right: 12px;
    vertical-align: middle;
}
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-5deg);
    }
    20% {
      transform: rotateZ(3deg);
    }
    25% {
      transform: rotateZ(-3deg);
    }
    30% {
      transform: rotateZ(2deg);
    }
    35% {
      transform: rotateZ(-1deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
p , a {
    color: black;
    text-decoration: none;
    text-align: right;
    margin: 0;
    padding-right: 3px;
    font-size: 14px;
}
p a:hover, #instagram:hover, #medium:hover {
    color: blue;
    text-decoration: underline;
}
