body{
    background-color:color-mix(in srgb, rgb(10, 10, 224) 50%, rgb(76, 255, 76) 50%);
}
.container {
    width: 540px;
    max-width: 80%;
    margin: 0 auto;
}
h1 {
    text-align: center;
    text-shadow: 0 4px 5px rgb(23, 5, 128);
    color: white;
}
.form-block {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 8%;
    border-collapse: collapse;
    border-radius: 3vh;
    margin-bottom: 1rem;
}
.form-control, .form-input {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
}
label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
}
.input-checkbox {
    margin-right: 1rem;
    margin-bottom: 10px;
}